* {
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
}

.header {
    background-color: #A2FF2F;
}

.header_title {
    font-size: 3rem;
    text-align: center;

}

.main {
    flex-grow: 1;
    display: grid;
    place-items: center;
    background-color: #f0f0f0;
}

.footer {
    background-color: #A2FF2F;
    text-align: center;
    padding: 10px;
}